@charset "utf-8";

:root {
   --cor0:#BF9765;
   --cor1:#D92B04;
}
body {    
    background-color: black;
    background-image: url('imagens/fundo\ capa/wallpaper002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;      
}

header {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 5px;
}

main {
    background-image: linear-gradient(95deg, #A0D9D9, #D9C589);
    margin: auto;
    box-shadow: 2px 3px 1px rgb(0 0 0 / 31%);
    border-radius: 5px 5px 5px 5px;
    max-width: 1000px;
    min-width: 593px;
}

main > section > article > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    margin:5px 0px;
}

main > section > article > h2 {
      font-family: 'Times New Roman', Times, serif;
      text-align: left;
      text-decoration: underline;
      margin: 2px 0px 13px 15px;
}

article > h3 {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--cor1);
    padding: 3px 3px 2px 15px;
    margin: 5px 0px 5px 0px;
}
main > section > article > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1em;
    padding: 2px 1px 1px 2px;
    margin: 1px 1px 0px 0px;
    display:inline;   
}

main > section > article > picture {
   
    margin: 5px 10px;
}

main > section > article > aside > picture{
    margin: 3px 10px;
    
 }

section{
    padding-left: 8px;
 }

div.subli{
    display:inline;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 1.2em;
    text-decoration: underline;
    color: rgb(37, 145, 37);   
 }

#videobody{
    padding: 1px 1px;
    margin: 3px 2px 1px 6px;
    display: inline-block;
    max-width: 415px;
    min-width: 220px;
    border: 3px solid green;   
 }

iframe{
    position: relative;
    max-width: 25em;
    min-width: 14em;
    height: 14em;   
 }

footer{
    font-size: 16pt;
    border-radius: 5px 5px;
    box-shadow: 1px -1px 1px 0px rgb(0 0 0 / 51%);
    background-color: #D9C589;
    margin: auto;
    margin-top: 3px;
    padding-top: 1px; 
    max-width: 1030px;
    min-width: 550px;
    height: 4.1em;   
 }

#redes{
    text-align: center;
    text-decoration: underline;
    padding: 0px 0px;
    margin-top: 2px ;
    margin-bottom: 2px;
 }

footer > a{   
    margin: 2px 8px;
    padding: 1px 5px;
    font-size: 24px;  
 }

footer > a > img {
    padding: 0px 0px;
}

a:hover {
    text-decoration: underline;
    color: #D92B04;
}
#marca{
    color: #D92B04;
    text-align: center;
    padding: 0px 0px;
    margin-top: 1px;
    margin-bottom: 1px;   
 }

#coment{
    background-color:#BF9765;
    margin-top: 3px;
    margin-bottom: 0px;
    
}
section > h2{
    font-size: 15pt;
    font-family:Arial, Helvetica, sans-serif;
    padding: 1px;
    margin-bottom: 2px;
 }

#fazenda{
    margin: 1px 1px 20px 5px;
    padding: 1px;
} 

#box1{
    text-align: center;
    position:relative;
    margin: 5px 5px;
    width: 200px;
    height: 80px;
}


